# set url for the scoped package
@quizify:registry=https://gitlab.com/api/v4/projects/43706685/packages/npm/
# Add auth token for the Gitlab scoped package
# //gitlab.com/api/v4/projects/<<<your project id>>>/packages/npm/:_authToken=<<<access token>>>
//gitlab.com/api/v4/projects/43706685/packages/npm/:_authToken=${NPM_REGISTRY_TOKEN}
